<div class="card">
  <img
    src="https://img.freepik.com/free-photo/fresh-milk-bottle-glass_1150-17631.jpg"
    class="card-img-top"
    alt="milk"
  />
  <div class="card-body">
    <h5 class="card-title">{{ goodItem }}</h5>
    <p class="card-text">
      Небольшой пример текста, который должен основываться на названии карточки
      и составлять основную часть содержимого карты.
    </p>
    <a href="#" class="btn btn-primary" (click)="addGood(goodItem)"
      >Перейти куда-нибудь</a
    >
  </div>
</div>
