<h1>Hello {{ title }}</h1>

<input [(ngModel)]="title" />

<p>count: {{ count }}</p>
<button (click)="increaseCount()">push</button>

<h2 [class]="colorBG">hello</h2>
<button (click)="changeBG('red')">red</button>
<button (click)="changeBG('blue')">blue</button>

<p [class.blueBG]="colorBG == 'redBG'">hello friends</p>
<p [ngClass]="colorBG === 'redBG' ? 'redBG' : 'blueBG'">check text</p>

<p [ngClass]="{ redBG: true, blueBG: false }">colors</p>

<span [style]="spanStyles"> its span </span>

<div [style.backgroundColor]="color">its div</div>
